<p>gallary works!</p>

<div class="container">
  <div class="broad_img" id="broad_img">Select an Image to view in large mode.</div>
  <!--  <img class="big_img" id="big_img0" alt="" src="http://localhost:4200/assets/images/i4.jpeg">-->
  <img class="big_img" id="big_img" [src]="presentation_image">
  <!--  <img src="./assets/images/i1.jpeg">-->
    <div class="images_gallery">
       <p *ngFor="let pslide of PRESENTATION">
         <img (click)="myImage($event)" id="{{pslide.image}}" class="tiny_img" src="./assets/images/{{pslide.image}}" [tooltip]=pslide.title [image_description]=pslide.description  >
       </p>
    </div>

<!--<button (click)="onTrigger($event)">Trigger Event</button>-->

<!--<div class="user-icon" [tooltip]="'Sign In'">Cool</div>-->
<!--<H1 class="titletip">{{titletip}}</H1>-->
<!--<p class="bodytip">Body Tip</p>-->
