/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
/* https://codepen.io/adityajanuardi/pen/YzydaVj */
/* https://www.youtube.com/watch?v=KpesXpJbKN8 */

/*
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/
/*
body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
*/

/*
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/

.broad-img {
    width: 75vw;
    height: 600px;
    display: grid;
    place-items: center;
    background: linear-gradient ( rgb(86, 86, 185), rgb( 24, 24, 95));
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
    font-weight: 800;
    font-size: 23px;
}


.big_img {
    display: flex;
    width: 75vw;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.images_gallery {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 40vw;
    /* height: 170px; */
    height: var(--gallery_height);
    padding: 5px;
    /* overflow-x: scroll; */
    overflow: auto;
    white-space: nowrap;
    background-color: skyblue;
}

.gridscroll{
  display:inline-block;
}

.gridscroll img {
  margin-right:22px;
}

.tiny_img {
    width: 120px;
    height: 120px;
    margin: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.tiny_img: hover {
    transform: scale(1.08);
    cursor: zoom-in;
}





.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
