*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.broad-img {
    width: 75vw;
    height: 600px;
    display: grid;
    place-items: center;
    background: linear-gradient ( rgb(86, 86, 185), rgb( 24, 24, 95));
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
    font-weight: 800;
    font-size: 23px;
}


.big_img {
    display: flex;
    width: 75vw;
    height: 600px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.images_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 150px;
    padding: 5px;
    /* overflow-x: scroll; */
    overflow: auto;
    white-space: nowrap;
    background-color: bisque;
}

.gridscroll{
  display:inline-block;
}

.gridscroll img {
  margin-right:22px;
}

.tiny_img {
    width: 120px;
    height: 120px;
    margin: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.tiny_img: hover {
    transform: scale(1.08);
    cursor: zoom-in;
}
